html {
    background-image: url('./images/circles-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;

    font-family: 'Montserrat', sans-serif;
    color: #273043;
}
